name: Build Android

on:
    workflow_call:
        inputs: {}
    workflow_dispatch:
        inputs: {}
    push:
        branches: [master, main]
        paths-ignore:
          - ".github/workflows/build-browser.yml"
    schedule:
        # On every Sunday 12:00
        - cron: "0 12 * * 0"

permissions:
    contents: write

defaults:
    run:
        shell: bash

jobs:
    setup:
        name: Setup
        runs-on: ubuntu-22.04
        outputs:
            latest_android_tag: ${{ steps.gen_vars.outputs.latest_android_tag }}
        steps:
            - name: Check out repo
              uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

            - name: Clone real repo
              run: |
                  git clone https://github.com/bitwarden/android.git

            - name: Get Latest Andorid Tag
              id: gen_vars
              working-directory: android
              run: |
                  # Find all tags and sort by time
                  git fetch --tags
                  tags=$(git tag --sort=-creatordate)
                  # Find "android" tag
                  latest_android_tag=""
                  for tag in $tags; do
                      if [[ $tag == *"bwpm"* ]]; then
                          latest_android_tag=$tag
                          break
                      fi
                  done

                  echo "latest_android_tag=$latest_android_tag" >> $GITHUB_OUTPUT
                  echo "latest_android_tag=$latest_android_tag"

    build-source:
        name: Build andorid
        runs-on: ubuntu-22.04
        needs:
            - setup
        env:
            _LATEST_ANDROID_TAG: ${{ needs.setup.outputs.latest_android_tag }}
            JAVA_VERSION: 21
        steps:
            - name: Check out repo
              uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

            - name: Clone real repo
              run: |
                  git clone https://github.com/bitwarden/android.git
            
            - name: Setup repo
              working-directory: android
              run: |
                  git fetch --tags
                  echo "Checking out ${{ env._LATEST_ANDROID_TAG }}"
                  git checkout ${{ env._LATEST_ANDROID_TAG }}
            
            - name: Validate Gradle wrapper
              uses: gradle/actions/wrapper-validation@4d9f0ba0025fe599b4ebab900eb7f3a1d93ef4c2 # v5.0.0

            - name: Cache Gradle files
              uses: actions/cache@0400d5f644dc74513175e3cd8d07132dd4860809 # v4.2.4
              with:
                path: |
                  ~/.gradle/caches
                  ~/.gradle/wrapper
                key: ${{ runner.os }}-gradle-v2-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties', '**/libs.versions.toml') }}
                restore-keys: |
                  ${{ runner.os }}-gradle-v2-

            - name: Cache build output
              uses: actions/cache@0400d5f644dc74513175e3cd8d07132dd4860809 # v4.2.4
              with:
                path: |
                  ${{ github.workspace }}/build-cache
                key: ${{ runner.os }}-build-cache-${{ github.sha }}
                restore-keys: |
                  ${{ runner.os }}-build-

            - name: Configure JDK
              uses: actions/setup-java@dded0888837ed1f317902acf8a20df0ad188d165 # v5.0.0
              with:
                distribution: "temurin"
                java-version: ${{ env.JAVA_VERSION }}

            - name: Configure Ruby
              uses: ruby/setup-ruby@44511735964dcb71245e7e55f72539531f7bc0eb # v1.257.0
              with:
                bundler-cache: true

            - name: Install Fastlane
              working-directory: android
              run: |
                gem install bundler:2.2.27
                bundle config path vendor/bundle
                bundle install --jobs 4 --retry 3

            - name: Apply internal patch
              working-directory: android
              run: |
                  cp ../patches/android/hasPremium.patch .
                  git apply hasPremium.patch -v

            - name: Generate release Play Store APK
              working-directory: android
              env:
                KEYSTORE_PASSWORD: ${{ secrets.KEYSTORE_PASSWORD }}
                KEY_PASSWORD: ${{ secrets.KEY_PASSWORD }}
                GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
              run: |
                echo ${{ secrets.SIGN_KEYSTORE_BASE64 }} | base64 -d > ./keystores/leamocc.jks
                mkdir ./app/src/standardRelease
                echo ${{ secrets.GOOGLE_SERVICES_JSON }} | base64 -d > ./app/src/standardRelease/google-services.json
                bundle exec fastlane assemblePlayStoreReleaseApk \
                storeFile:leamocc.jks \
                storePassword:"${{ env.KEYSTORE_PASSWORD }}" \
                keyAlias:key0 \
                keyPassword:"${{ env.KEY_PASSWORD }}"

            - name: Create release
              uses: ncipollo/release-action@2c591bcc8ecdcd2db72b97d6147f871fcd833ba5 # v1.14.0
              continue-on-error: true
              with:
                  artifacts: "android/app/build/outputs/apk/standard/release/*.apk"
                  tag: "${{ env._LATEST_ANDROID_TAG }}"
                  name: "${{ env._LATEST_ANDROID_TAG }}"
                  body: "${{ env._LATEST_ANDROID_TAG }} [Original Changelog](https://github.com/bitwarden/android/releases/tag/${{ env._LATEST_ANDROID_TAG }})"
                  token: ${{ secrets.GITHUB_TOKEN }}
                  draft: false
                  allowUpdates: false
                  makeLatest: true
